body,
html {
  background-color: #e0e0e0;
  color: #515151;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.autoscroll > * {
  text-align: center;
  display: table;
}

.text {
  font-size: 2.5em;
  font-weight: 100;
  display: table-cell;
  vertical-align: middle;
}

.emphasize {
  font-weight: 300;
}

.opacity-none {
  opacity: 0;
}

a {
  color: #0099cc;
  text-decoration: none;
}

a:hover {
  color: #00b6f2;
  text-decoration: none;
}

/* Initial page load */
.page-1 {
  -webkit-transition: opacity 1000ms ease-in-out;
  -moz-transition:    opacity 1000ms ease-in-out;
  -ms-transition:     opacity 1000ms ease-in-out;
  -o-transition:      opacity 1000ms ease-in-out;
  transition:         opacity 1000ms ease-in-out;
}
