@font-face {
  font-family: RobotoLight;
  src: url(../fonts/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: RobotoThin;
  src: url(../fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: RobotoCondensed;
  src: url(../fonts/roboto/Roboto-Condensed.ttf);
}

body, html {
  background-color: #e0e0e0;
  color: #515151;
  font-family: RobotoLight, sans-serif;

  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -ms-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
  transition-property: background-color, color;
}

.delayedscroll > * {
  text-align: center;
  display: table;
}

.text {
  font-family: RobotoThin, sans-serif;
  display: table-cell;
  vertical-align: middle;
  font-size: 2.5em;
}

.emphasize {
  font-family: RobotoLight, RobotoThin, sans-serif;
}

.opacity-none {
  opacity: 0;
}

a {
  color: #0099cc;
  text-decoration: none;
}

a:hover {
  color: #00b6f2;
  text-decoration: none;
}

/* Initial page load */
.page-1 {
  -webkit-transition: opacity 1000ms ease-in-out;
  -moz-transition: opacity 1000ms ease-in-out;
  -ms-transition: opacity 1000ms ease-in-out;
  -o-transition: opacity 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out;
}
